c-menu {
  position: relative;
  display: block;
}

c-menu-items {
  --translate-x: 0;
  --translate-y: 0;
  --scale: 1;
  --offset: 0px;

  --x: 0;
  --y: 0;

  position: absolute;
  display: block;
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));

}

c-menu-items:not([data-active]) {
  pointer-events: none;
  opacity: 0;

}

c-menu-items[placement=""],
c-menu-items:not([placement]) {
  --y: 100%;

  top: var(--y);
  left: var(--x);
  margin-top: var(--offset, 0);
  transform-origin: top left;
}

c-menu[action="hover"] c-menu-items::before {
  content: '';
  position: absolute;
}


c-menu-items[placement^="top"] {
  --y: 100%;

  bottom: var(--y);
  margin-bottom: var(--offset, 0);
}

c-menu[action="hover"] c-menu-items[placement^="top"]::before {
  top: calc(100% - 2px);
  width: 100%;
  height: calc(4px + var(--offset, 0));
}


c-menu-items[placement="top"] {
  --translate-x: -50%;
  --x: 50%;

  left: var(--x);
  transform-origin: bottom;
}

c-menu-items[placement="top-start"] {
  left: var(--x);
  transform-origin: bottom left;
}

c-menu-items[placement="top-end"] {
  right: var(--x);
  transform-origin: bottom right;
}

c-menu-items[placement^="bottom"] {
  --y: 100%;

  top: var(--y);
  margin-top: var(--offset, 0);
}

c-menu[action="hover"] c-menu-items[placement=""]::before,
c-menu[action="hover"] c-menu-items:not([placement])::before,
c-menu[action="hover"] c-menu-items[placement^="bottom"]::before {
  bottom: calc(100% - 2px);
  width: 100%;
  height: calc(4px + var(--offset, 0));
}

c-menu-items[placement="bottom"] {
  --translate-x: -50%;
  --x: 50%;

  left: var(--x);
  transform-origin: top;
}

c-menu-items[placement="bottom-start"] {
  left: var(--x);
  transform-origin: top left;
}

c-menu-items[placement="bottom-end"] {
  right: var(--x);
  transform-origin: bottom right;
}

c-menu-items[placement^="right"] {
  --x: 100%;

  left: var(--x);
  margin-left: var(--offset, 0);
}

c-menu[action="hover"] c-menu-items[placement^="right"]::before {
  right: calc(100% - 2px);
  height: 100%;
  width: calc(4px + var(--offset, 0));
}

c-menu-items[placement="right"] {
  --translate-y: -50%;
  --y: 50%;

  top: var(--y);
  transform-origin: left;
}

c-menu-items[placement="right-start"] {
  top: var(--y);
  transform-origin: top left;
}

c-menu-items[placement="right-end"] {
  bottom: var(--y);
  transform-origin: bottom left;
}

c-menu-items[placement^="left"] {
  --x: 100%;

  right: var(--x);
  margin-right: var(--offset, 0);
}

c-menu[action="hover"] c-menu-items[placement^="left"]::before {
  left: calc(100% - 2px);
  height: 100%;
  width: calc(4px + var(--offset, 0));
}

c-menu-items[placement="left"] {
  --translate-y: -50%;
  --y: 50%;

  top: var(--y);
  transform-origin: right;
}

c-menu-items[placement="left-start"] {
  top: var(--y);
  transform-origin: top right;
}

c-menu-items[placement="left-end"] {
  bottom: var(--y);
  transform-origin: bottom right;
}

c-menu-items[placement="over"] {
  --translate-x: -50%;
  --translate-y: -50%;
  --x: 50%;
  --y: 50%;

  left: var(--x);
  top: var(--y);
  transform-origin: center;

}

c-menu-items[placement*="over-top"] {
  bottom: var(--y);
  margin-bottom: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-top"] {
  --translate-x: -50%;
  --x: 50%;

  left: var(--x);
  transform-origin: bottom;
}

c-menu-items[placement="over-top-start"] {
  left: var(--x);
  transform-origin: bottom left;
}

c-menu-items[placement="over-top-end"] {
  right: var(--x);
  transform-origin: bottom right;
}


c-menu-items[placement*="over-bottom"] {
  top: var(--y);
  margin-bottom: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-bottom"] {
  --translate-x: -50%;
  --x: 50%;

  left: var(--x);
  transform-origin: top;
}

c-menu-items[placement="over-bottom-start"] {
  left: var(--x);
  transform-origin: top left;
}

c-menu-items[placement="over-bottom-end"] {
  right: var(--x);
  transform-origin: top right;
}

c-menu-items[placement*="over-left"] {
  right: var(--x);
  margin-right: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-left"] {
  --translate-y: -50%;
  --y: 50%;

  top: var(--y);
  transform-origin: right;
}

c-menu-items[placement="over-left-start"] {
  top: var(--y);
  transform-origin: top right;
}

c-menu-items[placement="over-left-end"] {
  bottom: var(--y);
  transform-origin: bottom right;
}

c-menu-items[placement*="over-right"] {
  left: var(--x);
  margin-left: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-right"] {
  --translate-y: -50%;
  --y: 50%;

  top: var(--y);
  transform-origin: left;
}

c-menu-items[placement="over-right-start"] {
  top: var(--y);
  transform-origin: top left;
}

c-menu-items[placement="over-right-end"] {
  bottom: var(--y);
  transform-origin: bottom left;
}